<div class="navbar">
  <div class="nav-content">
    <div class="nav-brand">
      <img width="42px" class="nav-logo" src="/assets/img/logo.png" />
      <h1 class="nav-title">QuoTwT</h1>
    </div>

    <div class="nav-buttons">
      <a href="https://twitter.com/sammwy">
        <img width="24px" src="/assets/img/twitter.svg" />
      </a>
    </div>
  </div>
</div>
