.navbar {
    width: 100%;
}

.nav-content {
    width: 90%;
    margin: 10px auto;
    display: inline-flex;
    justify-content: space-between;
}

.nav-brand {
    display: inline-flex;
    align-items: center;
}

.nav-title {
    margin-left: 20px;
    font-size: 24px;
}